@inherits LayoutComponentBase
@inject IStringLocalizer<App> ls

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span class="pr-2">@ls["Site Language"]</span><ChooseLanguage />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">@ls["About"]</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
